body{
    margin: 0px;
    padding: 0px;
}

.upperTopBar{
    border: 3px solid violet;
    height: 10vh;
    width: 86%;
    float: right;
    margin-top: 5px;
}

.main{
    border: 3px solid pink;
    width: 86%;
    float: right;
    height: 80vh;
}

.leftNavBar{
    margin-top: 1px;
    height: 90vh;
    width: 14%;
    background-color: skyblue;
    position: relative;
    bottom: 14px;
}

#userGreeting{ 
    border: 1px solid black;
    position: relative;
    bottom: 50px;
    text-align: center;
    font-size: 15px;
}
